<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (locals.numberOfLetters) { %> 
      <h1> There are <%=numberOfLetters%> letters in your name. </h1>
    <% } else { %>  
      <h1> Enter you name for count how many letters 👌 </h1>
      <form action="/submit" method="POST">
        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="fname">
        <label for="lname"> Last Name : </label>
        <input type="text" id="lname" name="lname" > 
        <input type="submit" value="Ok">
      </form>
    <% } %> 
  
</body>
</html>